.active-route {
  background-color: blueviolet;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

.active-route:hover {
  color: #fff;
}

.overview-label {

  display: inline-flex;
  margin-top: 5rem;

  .mat-icon {
    vertical-align: middle;
  }

  h4 {
    padding-left: 10px;
  }

  small {
    padding-left: 10px;
    color: darkgray;
    align-self: center;
  }
}

.parent-grid {
  height: 500px;
  display: flex;
  flex-direction: column;
  background-color: black;
  position: relative;
  color: #fff;
}

.profile-icon,
.setting-icon,
.notification-icon,
.search-icon {
  color: #fff;
}

.navbar-brand,
.navbar-nav .nav-link {
  color: #fff !important;
}

.navbar {
  background-color: #343a40 !important;
}

.navbar-right {
  display: flex;
  align-items: center;
  position: relative;
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
}

.search-container input {
  position: absolute;
  right: 40px;
  width: 0;
  border: none;
  outline: none;
  background: black;
  color: white;
  padding: 0 8px;
  transition: width 0.3s ease;
  visibility: hidden;
  opacity: 0;
}

.search-container.expanded input {
  width: 160px;
  padding-right: 20px;
  visibility: visible;
  opacity: 1;
}

.medium-font {
  font-size: medium;
}

.search-container button {
  color: white;
  z-index: 1;
}

.row {
  display: flex;
}

/* Panel Section */
.transition {
  transition: transform 0.3s ease-in-out;
}

.gray-color {
  color: lightgray;
}

.expanded-icon,
.collapse-hover {
  color: blueviolet;
}

.expanded-hover {
  color: orangered;
}

.panel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #343a40;

  .chart-height {
    height: 160px;
  }
}

.expansion-panel {
  height: 180px;
  background-color: white;
  margin: 0 15px;
  margin-bottom: -30px;
  cursor: pointer;
  transition: width 0.3s ease;
  box-shadow: 0 2px 6px -4px rgba(0, 0, 0, 0.4);
}

.expansion-panel.expanded {
  width: 700px;
}

.panel-content {
  padding: 20px;

  .info-section {
    width: 250px;

    .main-icon {
      font-size: 40px;
    }

    .heading {
      text-transform: uppercase;
    }

  }
}

.trend-icon {
  background: greenyellow;
  color: black;
  border-radius: 10px;
  width: 30px;
  text-align: center;
}

.heading {
  font-weight: bold;
  margin-right: 10px;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 23px;
  display: flex;
  align-items: center
}

.amount {
  color: black;
  margin-right: 10px;
  font-size: xx-large;
  margin-top: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.decimalnumnber {
  font-size: large;
  color: lightgray;
}


.card-trend-icon-1,
.card-trend-icon-2 {
  border-radius: 10px;
  width: 20px;
  font-size: 11px;
  margin-left: 7px;
  height: 12px;
  text-align: center;
  font-weight: 600;
}

.card-trend-icon-2 {
  color: #fff
}

.card-trend-icon-1 {
  background: greenyellow;
}

.card-trend-icon-2 {
  background: red;
}

.icon-span {
  margin-left: 5px;
}

.button-sec {
  align-items: end;
  justify-content: space-evenly;
}

.pannel-action-section {
  border-bottom: 2px solid lightgray;
  padding-bottom: 10px;
  display: flex;
  margin-top: auto;
  margin-bottom: 0px;
  margin-left: 20px;
  margin-right: 20px;

  .detail-button {
    border: 1px solid lightgray;
    border-radius: 0px;
  }

  .mat-mini-fab {
    margin-left: auto;
  }
}

.expansion-button {
  width: 20px;
  /* Fixed width */
  height: 100px;
  /* Fixed height */
  align-self: flex-end;
  /* Stick to the right */
  margin-left: auto;
  /* Push to the right */
  display: flex;
  align-items: center;
  /* Vertically center content */
  justify-content: center;
  /* Horizontally center content */
  margin-top: -130px;
  border: none;
  color: darkgray;
}

.mat-mdc-list-item-icon {
  color: rgba(0, 0, 0, 0.54);
}


.list-item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cashflow-section {
  transition: border-color 0.3s ease-in-out;
  border-bottom: 1px solid rgba(223, 223, 223, 0.507);
  margin: 0 5px;
}

.cashflow-section img {
  transition: transform 0.3s ease-in-out;
}

.cashflow-section:hover img {
  transform: rotate(180deg);
}

.cashflow-section:hover {
  border-bottom: 1px solid;
}

.month-number {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100px;
  /* Adjust as needed */
}

.month {
  font-size: 0.7rem;
}

.number {
  font-size: 2rem;
}


.progress {
  position: relative;
}

.progress::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15) 10px, transparent 10px, transparent 20px);
  z-index: 1;
}

.progress-bar {
  position: relative;
  z-index: 2;
}

.progress-bar-custom1 {
  background-color: blueviolet;
}

.progress-bar-custom2 {
  background-color: aquamarine
}

.progress-bar-custom3 {
  background-color: hotpink;
}

.progress-heading {
  padding: 5px 0;

  .progress-icon-1 {
    vertical-align: middle;
    color: blueviolet;
  }

  .progress-icon-2 {
    vertical-align: middle;
    color: aquamarine;
  }

  .progress-icon-3 {
    vertical-align: middle;
    color: hotpink;
  }

  .text-label {
    font-size: 16px;
    margin-left: 5px;
  }

  .number-label {
    background-color: #d3d3d37a;
    padding: 2px;
    border-radius: 5px;
    margin-left: 15px;
  }

}

.list-section {
  margin-top: 70px;

  .list-title {
    display: inline-block;
    vertical-align: middle;
  }

  .bottom-br {
    border-bottom: 2px solid rgb(211 211 211 / 30%);
  }

  .list-img {
    height: 40px;
  }

  .recent-trans {
    border-bottom: 1px solid lightgray;

    .see-all {
      margin-left: auto;
      color: #3f51b5;
      font-weight: 500;
    }
  }

  .cashflow-section {
    img {
      height: 48px;
      margin: auto 0;
    }
  }

}

.pt-70 {
  padding-top: 70px;
}

.unfold-more-icon {
  font-size: small;
  vertical-align: bottom !important;
  color: darkgrey;
}

.analytics-btn {
  border-right: 1px solid rgb(211 211 211 / 38%);
  border-radius: 0px;
}

.bg-custom-grey {
  background-color: rgba(128, 128, 128, 0.29);
}

.float-right {
  float: right;
}

.vertical-middle {
  vertical-align: middle;
}